*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}
.part1{
  position: relative;
  min-height: 100vh;
  padding: 100px;
  width: 100%;
  display: flex;
  
  align-items: center;
  background-color: #c0c0c0;
}
.navigation{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em;
  display: flex;
  justify-content: space-around;

}
.nav1{
  list-style-type: none;
  position: relative;
  display: flex;
  padding: 3em;
  margin: 0;
}
.nav2{
  list-style-type: none;
  position: relative;
  display: flex;
  padding: 3em;
  margin: 0;
}
.nav1 li{
  float: left;
}
.nav2 li{
  float: center;
}
li a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav1 li a:hover {
  background-color: #649549;
}
.nav2 li a:hover {
  background-color: #c0c0c0;
}
.street{
  float: left;
  padding: 12em;
  font-size: 20px;
  
}
.strt{
  font-size: 45px;
  color: #6CB840;
  margin-bottom: 20px;
}
.strt span{
  color: #EAAB1B;
}
.btn1{
  
  background-color: #6CB840;
  color: white;
  border: none;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
  font-size: 19px;
  margin-bottom: 50px;
  border-radius: 50px;
  font-weight: bold;
  height: 50px;
  width: 150px;
}
.part2{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  align-items: center;
  padding-bottom: 10px;
}
.imgeating{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 2em;
}
.imgeating img{
  width: 100%;
}
.text-eat-together{
  position: relative;
  right: 20em;
  padding-bottom: 16em;
}
#tet{
  font-size: 45px;
  color: #EAAB1B;

}
.text-eat-together p{
  font-size: 30px;
}
.part3{
  position: relative;
  width: 100%;
  padding: 10em;
  padding-top: 1em;
  align-items: center;
  padding-bottom: 1em;
  background: #c0c0c0;

}
.text-part3{
  font-size: 40px;
  color: black;
  text-align: center;
  
}
.text-part3 span{
  color: #6CB840;
}
.column1{
  display: flex;
  justify-content: center;
  width: 100%;
}
.row{
  margin: 60px;
  margin-bottom: 40px;
  width: 300px;
  padding: 20px;
  border-radius: 0 0 30px;
  position: relative;
  background-color: white;
  height: 170px;
}
.burgerimage{
  position: absolute;
  left: -60px;
  width: 200px;
  height: 200px;
  padding-bottom: 40%;
}
.burgerimage img{
  width: 200px;
  height: 150px;
}
.row p{
  text-align: center;
  margin-left: 20%;
  padding-top: 1em;

}
.part4{
    position: relative;
    width: 100%;
    padding: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0;
    align-items: center;
    
   
}
.pp4{
  position: relative;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 80px;
  padding-top: 5px;
  align-items: center;
  padding-bottom: 10px;
  
  width: 100%;
  box-sizing: border-box;
  background: #C9ECB5;
  

}
#deals4{
  text-align: center;
 font-size: 45px;
  
  padding-bottom: 0;
  
  margin-bottom: 0;
}
.hot4 .burgj{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  background: var(--color5);
  margin: 5px;
  margin-bottom: 50px;
  width: 100%;
  position: relative;
}



.hot4 .burgj h2{
 
 margin-bottom: 50px;
 font-size: 40em;
 color: #6CB840;
}
.hot4 .burgj h2{
 font-size: 24px;
 margin: 20px 0;
 
}


.hot4 .burgj .buga{
 width: 300px;
 height: 300px;
 position: absolute;
 bottom: -25px;
 right: 45%;
}
.hot4 .burgj .buga img{
 width: 350px;
 height: 300px;
 padding-top: 30px;
 margin-right: 60px;
 padding-right: -40px;
 padding-left: 0;
 margin-left: 0;
}
.hot4 .burgj p{
  text-align: center;
  margin: 20px 0;
 }
.part5{
position: relative;
width: 100%;
padding-top: 0px;
display: flex;
flex-direction: column;
align-items: center;

background: #8a867c;
letter-spacing: 1px;
text-align: center;
margin-bottom: 0px;
}
.text-5{
  padding-bottom: 20px;
  font-size: 25px;
}
.text-5 h2 span{
color: #6CB840;
}
.text-5 p{
  margin-bottom: 45px;
}
#email5{
  width: 450px;
  height: 50px;
  border: none;
  border-radius: 50px;
  font-size: 25px;
}
.send5{
  color: white;
  border: none;
  display: inline-block;
  margin-top: 25px;
  padding: 7px 25px;
  background-color: #6CB840;
  border-radius: 60px;
  font-weight: bold;
  height: 50px;
  width: 200px;
  font-size: 25px;
  margin-bottom: 20px;
}
.last-part{
  width: 100%;
  padding-top: 50px;
  padding: 50px;
}
.list{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.items{
  display: flex;
  list-style-type: none;
}
.sun{
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
  padding-right: 20px;
  border-right: 1px dashed green;

}
.imglogo6{
  height: 50px;

}
.chat{
  width: 100%;
  margin-top: 10px;
  font-size: 25px;
  
}
.news{
  
  margin-top: 10px;
  font-size: 25px;
  margin-left: 30%;
}
.imglogo6 button{
  background: #6CB840;
  color: white;
  border: none;
  font-size: 30px;
  width: 60%;
  
  font-weight: bold;
  height: 25px;
  width: 80px;
  font-size: 25px;
  margin-bottom: 20px;
}
.fab fa-instagram{
  height: 30px;
  width: 50px;
}
